{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script>
    function scroll() {
        var height = $('#dvTextArea')[0].scrollHeight;
        $('#dvTextArea').scrollTop(height);
    };
    $("#converse").change(function() {
      $("#submit").click();
    });
    $("#submit").click(function () {
      if($("#converse").val() == "")
        return;
      if(sessionStorage.getItem('name') == null) {
        sessionStorage.setItem('name', $("#converse").val());
        $( "#dvTextArea" ).append( "<strong>MedBot:</strong><span class='bot-text'>Welcome, "+ sessionStorage.getItem('name') +"! What can I help you with today?</span>" );
        $( "#dvTextArea" ).append("<br>");
        $("#converse").val("");
        return;
      }
      $( "#dvTextArea" ).append( "<strong> " + sessionStorage.getItem('name') +":</strong><span class='user-text'>" + $("#converse").val() +"</span>" );
      $( "#dvTextArea" ).append("<br>");
      user_response = $("#converse").val();
      $.ajax({
        url: '/bot/converse_ajax',
        data: {
          'response': user_response
        },
        dataType: 'json',
        success: function (data) {
          $( "#dvTextArea" ).append( "<strong>MedBot:</strong><span class='bot-text'>" + data.bot_response +"</span>" );
          $( "#dvTextArea" ).append("<br>");
          $( "#loadingGif" ).fadeToggle();
        },
        beforeSend: function() {
          $( "#loadingGif" ).fadeToggle();
        }
      });
      $("#converse").val("");
      scroll.call($( "#dvTextArea" ), this);
    });
  </script>
{% endblock %}

{% block content %}
<div class=" medbot-container">
    <div class="container medbot-chatbox">
      <img id="loadingGif" src="{% static 'bot/loading-ring.gif' %}" class="loading" style="display:None">
      <div id="dvTextArea" class="chatbox-scroll">
        <strong>MedBot:</strong><span class="bot-text">Hi, I'm MedBot! Tell me your name in the text box below...</span>
        <br>
      </div>
      <!-- <input id="converse" type="text" class="medbot-input" placeholder="Say something..."> -->
      <div class="row">
        <div class="col-lg-12">
      <div class="input-group mb-3">
          <input id="converse" type="text" class="form-control medbot-input" placeholder="Say something...">
          <div class="input-group-append">
              <button id="submit" class="btn btn-outline-secondary medbot-submit" type="button">
              ↵ Enter
              </button>
          </div>
      </div>
      </div>
      </div>
    </div>
</div>
{% endblock %}
