<!-- © Copyright 2018 Mitchell Rudoll and Oliver Whittlef -->

{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{% block title %}MedBot{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'bot/medbot.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'bot/MedBot_transparent_background.png' %}"/>
    {% block stylesheet %}{% endblock %}

  </head>
  <body>
    <main>
      <div class = "medbot-header">
        <div class="img-wrapper">
          <img src="{% static 'bot/MedBot_transparent_background.png' %}" width="75" height="105" alt="MedBot" />
        </div>
        <h1>MedBot</h1>
        <div class = "medbot-header-disclaimer">
          <a id="disclaimer" class="btn btn-outline-secondary medbot-submit"
              data-container="body" data-toggle="popover" data-placement="left" data-content="
              DISCLAIMER: It is not the intention of NLM (National Library of Medicine) to provide specific medical advice, but rather to provide users with information to better understand their health and their medications. NLM urges you to consult with a qualified physician for advice about medications. <br><br>
              This product uses publicly available data from the U.S. National Library of Medicine (NLM), National Institutes of Health, Department of Health and Human Services; NLM is not responsible for the product and does not endorse or recommend this or any other product.<br><br>
              This product is an experiment in NLP (Natural Language Processing), AI (Artificial Intelligence), ML (Machine Learning), and web/server development. This in no way replaces professional medical advice, and a qualified medical professional should be consulted for all advice before making a decision on medications and/or treatments.<br><br>
              This project solely aims to be a helpful and/or entertaining program for educational purposes, and does not take the place of a real doctor." data-html="true">
          <i class="fas fa-exclamation-circle"></i> Disclaimer
        </a>
        </div>
      </div>
      <div class="medbot-main">

        {% block content %}
        {% endblock %}

      </div>
    </main>
    <footer class="medbot-footer">
      <div class = "medbot-footer-center">
        <!-- Footer Elements -->
            <div class="medbot-footer-icons">
              <!-- GitHub -->
              <span>
                <a href="https://github.com/Cellolizard/AI-Med-Conflict-Chatbot" target="_blank" class="medbot-footer-icons-color">
                  <i class="fab fa-github"></i>
                </a>
              </span>
              <!--Linkedin -->
              <span>
                <a href="https://www.linkedin.com/in/mitchell-rudoll/" onclick="location.href='https://www.linkedin.com/in/j-oliver-whittlef-8244a5134/';" target="_blank" class="medbot-footer-icons-color">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </span>
              <!--Instagram-->
              <span>
                <a href="https://www.instagram.com/cellolizard_/" onclick="location.href='https://www.instagram.com/oliverwhittlef/';" target="_blank" class="medbot-footer-icons-color">
                  <i class="fab fa-instagram"></i>
                </a>
              </span>
            </div>
      <!-- Footer Elements -->
      <!-- Copyright -->
      <div style="color:#6c757d">© Copyright <span id="copyrightYear"></span>:
        <a href="https://mitchellrudoll.com/" target="_blank"> Mitchell Rudoll</a> and Oliver Whittlef. All rights reserved.
      </div>
      <!-- Copyright -->
    </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'bot/medbot.js' %}"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
