{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}MedBot{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'bot/medbot.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header class="medbot-header">
      <h1>MedBot</h1>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'bot/medbot.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
