body {
  margin: 0;
}
main {
  padding: 0 10px;
}
.medbot-header {
  height: 3em;
  width: 100%;
  background: #d9d9d9;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}
.medbot-header h1 {
  margin: 0;
}

.medbot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20%;
}

.medbot-chatbox {
  background: #d9d9d9;
  width: 100%;
  height: 600px;
}

* {
  box-sizing: border-box;
}
