body {
  margin: 0;
}
main {
  padding: 0 10px;
}
.medbot-header {
  height: 3em;
  width: 100%;
  background: #d9d9d9;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}
.medbot-header h1 {
  margin: 0;
}

.medbot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20%;
}

.medbot-chatbox {
  background: #d9d9d9;
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  border-radius: 3px;
}

.user-text {
  padding: 3px;
}

.bot-text {
  padding: 3px;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    margin: 0 3px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d9d9d9;
}

/* Handle */
::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
