body {
  margin: 0;
}
main {
  padding: 0 10px;
}
.medbot-header {
  height: 3em;
  width: 100%;
  background: #cae7f9;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}
.medbot-header h1 {
  margin: 0;
}

.medbot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20%;
}

.medbot-chatbox {
  background: #cae7f9;
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  border-radius: 10px 10px 0px 0px;

}

.user-text {
  padding: 5px;
}

.bot-text {
  padding: 5px;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 18px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #cae7f9;
}

/* Handle */
::-webkit-scrollbar-thumb{
    /* height: 25px;
    background-clip: padding-box;
    background: #888;
    border-radius: 8px; */
    height: 15px;
    border: 2.5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.55);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
